#Ansible settings defined here
[defaults]

ansible_managed = This file is managed by Ansible, all changes will be lost.
host_key_checking = False
roles_path = ../../

# remote_user =
# private_key_file =

display_skipped_hosts=True
error_on_undefined_vars=True
system_warnings = True
force_color = 1

hash_behaviour=merge
